<div class="PostSnippet">
	<h2 class="PostSnippet-title">
		<a href="{{ post.link }}">{{ post.post_title }}</a>
	</h2>
	{% if post.post_excerpt %}
		<p class="PostSnippet-content">
			{{ post.post_excerpt }} <a href="{{ post.link }}">Read more</a>
		</p>
	{% else %}
		<p class="PostSnippet-content">
			{{ post.get_preview( 25 ) }}
		</p>
	{% endif %}
</div>